                      /******  Tag Selectors  *******/
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
}

                    /******  Class Selectors  *******/

/*********************************************************************General*/
.container-fluid{
  padding: 3% 15%
}
.pinky-section{
  background-color: #ff4c68;
  color: #fffdff;
}
.white-section{
  background-color: white;
}

/**************************************************************Navigation Bar*/
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}
.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.navbar-item{
  padding: 0 16px;
}


/***************************************************************Title Section*/
.leftDiv{
  padding-top: 10%;
}
.downloadButton{
  margin: 10% 3% 10% 0;
}
.rotated{
  transform: rotate(25deg);
}
.iphone-image{
  margin-top: 5%;
  width: 20%;
  right: 23%;
  position: absolute;
}
.title-h1{
  font-size: 3.5rem;
  line-height: 1.5;
}


/************************************************************Features Section*/
.features-text{
  font-size: 1.5rem;
}


/*********************************************************Testimonial Section*/
.testi-image{
  border-radius: 100%;
  width: 10%;
  margin: 3%;
}
.carousel-item{
  padding: 10% 25% 5%;
}
.carousel-text{
  font-size: 2.5rem;
}


/***************************************************************Press Section*/
.press-images{
  width: 15%;
  padding: 0 2%;
}


/*************************************************************Pricing Section*/
.card{
  margin: 10% 3%;
}
.mo{
  font-size: 1.5rem;
  color: grey;
  font-weight: 900;
}
.pricing-text{
  font-size: 2.5rem;
}
.pricing-headers{
  font-size: 1.5rem;
}


/************************************************Call to Action (cta) Section*/
.cta-text{
  font-size: 3rem;
  padding: 0 30%;
}
.downloadButton-last{
  margin: 3% 1% 6% 1%;
}


/**************************************************************Footer Section*/


/*****************************************************************Fontawesome*/

.fa-circle-check, .fa-bullseye, .fa-heart{
  color: #ef8172;
}
.fa-circle-check:hover, .fa-bullseye:hover, .fa-heart:hover{
  color: #ff4c68;
}
.fa-padding{
  margin: 8% 0;
}
.fa-footer{
  margin: 0 0.5% 0.5%;
}
.fa-linkedin, .fa-instagram, .fa-envelope{
  color: black;
  text-decoration: none;
}
.fa-linkedin:hover, .fa-instagram:hover, .fa-envelope:hover{
  color: #ef8172;
}

                    /******  ID Selectors  ******/

#title{
  text-align: left;
}
#features{
  padding: 10% 0 10% 0;
  position: relative;
  z-index: 1;
}
#testimonials{
  background-color: #ef8172
}
#press{
  background-color: #ef8172;
  padding-bottom: 5%;
}
#pricing{
  padding: 7% 12%;
}
#cta{
  padding-top: 5%;
}
#footer{
  padding: 5% 0 2%;
}

                      /*****  Media Breakpoints  *****/

@media (max-width:991px) {
  .iphone-image{
    position: static;
    width: 50%;
  }
  .rotated{
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}

@media (max-width:640px) {
  .iphone-image{
    display: none;
  }
  .carousel-text{
    font-size: 1.5rem;
  }
  .cta-text{
    font-size: 2rem;
  }
}
